body {
	background-color: #FFBB00;
}

p{
	color: black;
	text-align: center;
}

header {
	border-bottom: 10px;
	border-color: black;
	text-align: center;
}

img {
	align: center;
}

h2 {
	text-align: center;
}